<!DOCTYPE html>

<html lang="cs">

    <head>
        <meta charset="utf-8">
        <title>Registrace neprovedena</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>

        <main>

            <h1>Registrace neprovedena!</h1>

            <br>

            <p>Vaše registrace byla nesprávně vyplněna.</p>

            <br>

            <button class="back" onclick="location.href='/registrace'">Zpět na registraci</button>

        </main>


    </body>


</html>